<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600&family=Roboto&family=Roboto+Slab&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/f0d3880266.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/login.css">
    <title>Login</title>
</head>
<body>

    <header class="main-header">
        <div class="main-header-top-bar">
            <img src="/images/logo-mercado-liebre.svg" class="logo">
            <div>
                <form action="">
                    <label for="">
            <input type="search" id="busqueda" 
            placeholder="Buscar productos, marcas">
        </label>
            <i class="fa-solid fa-magnifying-glass"></i>
                </form>
        </div>
            <h2 class="copy-header">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                Comprar en cuotas y sin tarjeta de credito
            </h2>
        </div>

        <nav class="main-navbar">
            <ul class="left-navbar">
                <li> <a href="#">Ofertas</a> </li>
                <li> <a href="#">Tiendas Oficiales</a> </li>
                <li> <a href="#">Vender</a> </li>
                <li> <a href="#">Ayuda</a> </li>

            </ul>
            <ul class="right-navbar">
                <li> <a href="./register.html">Crea tu cuenta</a> <i class="fa-regular fa-id-card"></i> </li>
                <li> <a href="./login.html">Ingresa</a> <i class="fa-solid fa-arrow-right-to-bracket"></i> </li>
                <li> <a href="#">Mis compras</a> <i class="fa-sharp fa-solid fa-basket-shopping"></i></li>
            </ul>

        </nav>
        </header>

<main>
    <form action="./login.html" method="post"></form>
    <div>
        <label for="nombreUsuario"></label>
        <br>
        <input type="text" name="nombreUsuario" id="nombreUsuario"  placeholder="Nombre de usuario" required title="Debe colocar su usuario" oninvalid="this">
    </div>
    <br>
    <div>
        <label for="contraseña"></label>
        <br>
        <input type="password" name="contraseña" value="contraseña"  placeholder="Contraseña" required title="Debe colocar su cotraseña" oninvalid="this">
    </div>
    <br>
    <div class="boton">
    <button type="submit" class="button-form">Enviar</button>
    </div>
    <br>
</main>
    <footer>

        <i class="fa-solid fa-credit-card"></i>

        <h3>Pagá con tarjeta o en efectivo</h3>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>

        <i class="fa-solid fa-gift"></i>
        <h3>Envío gratis desde $ 2.500</h3>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>

        <i class="fa-solid fa-user-shield"></i>
        <h3>Seguridad, de principio a fin</h3>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>

        <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
    </footer>
</body>
</html>