main{
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: #EAC926;
}

main input{
    min-width: 90%;
    height: 30px;
    border-radius: 7px;
    border-color: transparent;
}

h2{
    font-size:1.6rem;
}

.perfil{
    font-size:large;
}

.radio{
    display: flex;
    width: 30px;
    top: 30px;
    position: relative;
}

.checkbox{
    display: flex;
    width: 30px;
    top: 25px;
    position: relative;
}

.password {
    font-size: medium;
}

form{
    width: 80%;
    background-color: #ebebeb;
    font-size: 25px;
    border: solid 15px #ebebeb;
    margin: 30px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.seccion-contenido{
    display: flex;
    flex-direction: column;
}

.button-form{
    background-color: #03264c;
    font-size: 20px;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

