* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;


}

div {
    display: block;
}

body {
    font-size: 12px;
    background-color: #EAC926;
}

.main-header {
    padding: 20px;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 550px;
}

.main-header-top-bar {
    display: flex;
    align-items: center;
    width: 100%;
    min-width: 288px;
}

.main-header-top-bar img {
    width: 300px;
    height: 200px;
}

.main-header-search input {
    width: 100%;
    height: 40px;
    border-radius: 7px;
    border-color: transparent;
    font-size: 1rem;
    margin-left: 20px;
}

.main-header-search i {
    position: relative;
    left: 110px;
    bottom: 28px;
}

/* .logo, 
.barra{
    width: 50%;
} */

/* .main-header-search{
position: relative;
} */

.sin-tarjeta {
    margin-left: 40px;
}

.main-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-navbar ul {
    list-style: none;
    display: flex;
}

.main-navbar a {
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
    margin-left: 30px;
}

.banner {

    width: 100%;
}

.banner img {
    width: 100%;
}

main {
    min-width: 530px;
    width: 100%;
    background-color: #ebebeb;
    text-align: center;
}

main img {

    width: 200px;
    /* height: 150px; */
}

.Titulares {
    max-width: 500px;
    font-size: 20px;
    /* margin: 0 100px; */
}

.main-container {
    width: 100%;
    height: auto;
    /* text-align: center; */
}

.items1,
.items2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.precios {
    font-size: 0.8rem;
    bottom: 18px;
    position: relative;
    margin-left: 8px;
    /*  justify-content: space-around;
    display: flex; */
}

.descuentos {
    font-size: 12px;
    color: #39b54a;
    position: relative;
    bottom: 32px;
    left: 73px;
}

h5 {
    font-size: 12px;
    bottom: 27px;
    position: relative;
    margin-left: 8px;
}

.burger-menu {
    background-color: #03264c;
    color: white;
    display: block;
    max-width: 50px;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;
}

.producto {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    border: solid 15px #ebebeb;
    padding: 10px;
    margin: 30px 30px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    min-width: 250px;
}

.fa-truck {
    /* left: 230px; */
    bottom: 15px;
    color: #39b54a;
    display: block;
    margin-left: auto;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    /* left: 20px; */
    top: -15px;
    position: relative;
}

.articulo:hover .fa-truck {
    rotate: -90deg;
}

.articulo .fa-truck {
    rotate: 0deg;
    transition: rotate 450ms;
}

.articulo {
    width: 100%;
    height: 55px;
    background-color: white;
    font-size: 25px;
    border-top: 1px solid #ebebeb;
    position: relative;
    text-align: start;
    /* padding: 10px; */
}

.articulo:hover h5 {
    opacity: 1;
    /* box-shadow: 0px 0px 10px rgb(100, 100, 100); */
}

.articulo h5 {
    opacity: 0;
    transition: all 450ms;
}

footer i {
    font-size: 2em;
    color: #1259c3;
    margin-top: 10px;
    /* font-size: 2rem;
    margin-bottom: 5px; */
}

footer {
    min-width: 530px;
    display: grid;
    place-items: center;
    padding: 2rem;
}

footer h3 {
    font-size: 1.5rem;
    margin-top: 1rem;
}

footer p {
    font-size: 1.2rem;
    margin: 1rem 0;
    text-align: center;
}

@media(max-width:600px) {
    .main-header-top-bar img {
        width: 50%;
    }

    .sin-tarjeta p {
        display: none;
    }

    .main-navbar {
        display: none;
    }
}

/* @media (min-width: 361px) {
    .producto {
        box-shadow: 0px 0px 10px rgb(100, 100, 100); 
    }
} */

/*.copy-header{
        max-width: 350px;
        text-align: right;
    }
    .burger-menu{
        display: none;
    }
    .main-navbar{
        display: flex;
        justify-content: space-between;
    }
    .main-navbar ul{
        display: flex;
    }
    .main-navbar li{
        margin: 0 5px;
    }
} */

@media (min-width: 600px) {
    

    .producto {
        /* box-shadow: 0px 0px 10px rgb(100, 100, 100); */
        width: 200px;

    }
   /*  main img{
        width: 150px;
    } */


    .burger-menu{
        display: none;
    }

    .articulo{
        width: 100%;
    }
}

/*.logo{
        width: 250px;
    }

    .main-header-top-bar, .main-navbar{
        max-width: 1200px;
        margin: auto;
    }
    .main-header-top-bar{
        align-items: center;
    }
    .copy-header{
        margin: 0;
        max-width: none;
        font-size: 22px;
        font-weight: 400;
}
    .main-navbar li{
        margin: 0 10px;
    }
    .main-navbar a{
        font-size: 19px;
    }

} */